html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.audio-toggle {
    background-color: transparent;
    border-color: transparent;
    cursor: grab;
}

.ceiling {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.health-bar {
    z-index: 2;
    max-width: 500px;
    max-height: 100px;
    height: auto;
    width: auto;
}

.gon-health {
    z-index: 1;
    width: 209px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 47px;
    left: 54px;
}

.pitou-health {
    z-index: 1;
    width: 206px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 44px;
    right: 115px;
}

.game {
    opacity: 0;
}

div {
    font-family: 'Common Pixel', sans-serif;
    color: white;
    font-size: 75px;
}

.intro {
    height: 100%;
    width: 100%;
    font-size: 300%;
    align-items: flex-start;
    justify-content: flex-start;
}

h2 {
    margin: 0px;
}

.popup {
    height: 400px;
    width: 500px;
    position: absolute;
    border-radius: 50px;
    opacity: 0.85;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    visibility: hidden;
}

.popup > button {
    background-color: orange;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
    font-family: 'Common Pixel', sans-serif;
    font-size: 50px;
    cursor: grab;
}

.menu-button {
    width: 25%;
    background-color: orange;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Common Pixel', sans-serif;
    font-size: 50px;
}

.menu-logo {
    width: 50%;
    height: auto;
}

.background {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('assets/images/etc/background.png');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.gon-sprite {
    width: 100px;
    height: 100px;
}

.pitou-sprite {
    width: 100px;
    height: 100px;
    transform: rotateY(180deg);
}

.gon-frame {
    height: 80px;
    width: 80px;
    padding: 80px;
    background-position: center;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-image: url('assets/images/etc/gon-frame.png');
}

.pitou-frame {
    height: 75px;
    width: 75px;
    padding: 85px;
    background-position: center;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-image: url('assets/images/etc/pitou-frame.png');
}

.floor {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.rock, .paper, .scissors {
    border-color: transparent;
    background-color: transparent;
    padding: 5px;
    margin: 50px 20px 50px 20px;
    cursor: grab;
}

.rock img, .paper img, .scissors img { 
    height: 100px;
    width: 100px;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px #fff); 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 0.2;
}